<p id="notice"><%= notice %></p>

<h1>Распределение городам региона "<%= @region.name %>"</h1>

<table>
  <%= render 'table_header', location: 'города' %>

  <tbody>
    <% @region.cities.each do |city| %>
      <tr>
        <td><%= city.id %></td>
        <td><%= city.name %></td>
        <td><%= city.feedbacks.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
